{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "env": {
    "electron": {
      "presets": [
        "@babel/preset-env"
      ]
    }
  }
}
